

<div class="row p-4 pb-0 pe-lg-0 pt-lg-5 align-items-center rounded-3 border shadow-lg">
      <div class="col-lg-7 p-3 p-lg-5 pt-lg-3">
        <h1 class="display-4 fw-bold lh-1 text-body-emphasis">Cropify: Your Guide to Better Farming</h1>
        <p class="lead">Cropify is a blog and weather web app that helps farmers improve their yields and income. We provide information on the latest agricultural technologies, as well as weather forecasts and other data that can help farmers make informed decisions about their crops.</p>




<p>Cropify is a valuable resource for farmers of all levels of experience. Whether you're a seasoned pro or just starting out, we have the information you need to grow better crops and increase your profits.</p>
<p>Our blog features articles on a wide range of topics, including:</p>
<ul>
<li>Technology to implement in the coffee industry to increase yield and income for farmers.</li>
<li>Technology to implement in the tea industry to increase yield and income for farmers.</li>
<li>Technology to implement in the paddy industry to increase yield and income for farmers.</li>
<li>Technology to implement farming techniques to grow paddy in India's North/ Northeast regions.</li>
</ul>
<p>We also provide weather forecasts for major agricultural regions around the world. This information can help farmers plan their planting and harvesting schedules, as well as water their crops effectively.</p>
<p>In addition to our blog and weather forecasts, Cropify also offers a variety of other resources for farmers, including:</p>
<ul>
<li>A forum where farmers can ask questions and share tips.</li>
<li>A directory of agricultural suppliers.</li>
<li>A library of agricultural research papers.</li>
</ul>
<p>Cropify is your one-stop shop for everything you need to know about better farming. Visit our website today to learn more!</p>



        <div class="d-grid gap-2 d-md-flex justify-content-md-start mb-4 mb-lg-3">

          <button type="button" class="btn btn-outline-secondary btn-lg px-4"><a href="/weather" >Weather</a></button>
          <button type="button" class="btn btn-outline-secondary btn-lg px-4"><a href="/blog_home">Blogs Home</a></button>
        </div>
      </div>
      <div class="col-lg-4 offset-lg-1 p-0 overflow-hidden shadow-lg">
          <img class="rounded-lg-3" src="./CropifyLogo1.jpeg" alt="" width="720">
      </div>
    </div>







